body {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 100px;
  font-family: "Assistant", sans-serif;
}

.topbar {
  margin-left: 25px;
  margin-right: 25px;
}

/* Add a black background color to the top navigation */
.topnav {
  overflow: hidden;
}

.topnav img {
  float: left;
  display: block;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  display: block;
  color: #aaaaaa;
  text-align: center;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-decoration: none;
  font-size: 17px;
  cursor: pointer;
}

h2 {
  /* padding-left: 64px; */
  line-height: 125%;
}

.topnav p {
  display: inline-block;
  vertical-align: bottom;
}

/* Change the color of links on hover */
/* .topnav a:hover { */
  /* background-color: #ddd; */
  /* color: #2d68c4; */
/* } */

/* Add an active class to highlight the current page */
a.active {
  color: #000000;
  /* color: white; */
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .hamburger {
  display: none;
}

img.logo {
  height: 88px;
  /* filter: grayscale(33%); */
}

img.team {
  /* width: 160px; */
  max-width: 320px;
  border-radius: 50%;
  margin-bottom: 5px;
  filter: grayscale(66%);
}

.team img:hover{
  filter: none;
}

/* .team img:hover {
  filter: none;
} */

img.project {
  /* width: 220px; */
  max-width: 320px;
  filter: grayscale(80%);
  cursor: pointer;
}

img.project-small {
  width: 110px;
  filter: grayscale(80%);
  margin-top: 10px;
  margin-right: 20px;
}

.project img:hover {
  filter: none;
}

div.team {
  display: inline-block;
  /* margin-left: 60px; */
  /* margin-right: 60px; */
  margin-top: 50px;
}

div.project {
  display: inline-block;
  margin-top: 50px;
}

div.info {
  text-align: center;
  font-size: 14px;
}


div.mission {
  display: inline-block;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 20px;
}

div.photos {
  width: 40%;
  margin-left: 30px;
  margin-top: 30px;
  filter: grayscale(80%);
}

img.photo {
  width: 100%;
  filter: grayscale(33%);
}

.photo img:hover {
  filter: none;
}

div.sponsors {
  display: inline-block;
}

div.contact {
  display: inline-block;
}

img.sponsor {
  max-height: 100px;
  max-width: 200px;
  margin-left: 20px;
  margin-right: 40px;
  filter: grayscale(80%);
}

.tbpubinfo {
  font-family: 'Overpass Mono', monospace;
  font-size: small;
  line-height: 20px;
  background-color: #efefef;
  color: #808080;
}

.imgpaper {
  width: 50px;
  border: 1px solid grey;
}

.tdpubinfo {
  text-align: justify;
  vertical-align: top;
}

* {
  box-sizing: border-box;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  /* padding: 0 4px; */
  /* width: 100%; */
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

div.map {
  margin-left: 30px;
  margin-top: 50px;
  filter: grayscale(100%);
}

div.page {
  background-color: #ffffff;
  line-height: 150%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2%;
  padding-bottom: 3%;
  max-width: 80%;
}

.authors{
  font-style: italic;
}

.copyright {
  /* position: fixed; */
  font-size: 9pt;
  text-align: center;
  margin-top: 3%;
  margin-bottom: 1%;
  bottom: 3%;
  color: #aaaaaa;
}


a:link {
  color: #444444;
  /* border-bottom: 1px dotted #000; */
  /* text-decoration: none; */
}

a:visited {
  color: #444444;
  /* border-bottom: 1px dotted #000; */
  /* text-decoration: none; */
}

a:hover {
  color: #bbbbbb;
  /* border-bottom: 1px dotted #000; */
  /* text-decoration: none; */
}

a:active {
  color: #000000;
  /* border-bottom: 1px dotted #000; */
  /* text-decoration: none; */
}

.announcement{
  background-color:rgba(62, 223, 244, 0.25);
}